/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$button-height: 40px;
$button-width: 240px;
$press-time: .4s;

body {
	background-color: #f2f2f2 !important;
}

.mb-100 {
	margin-bottom: 100px;
}

.logo {
	cursor: pointer;
}

.unstyled {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.custom-hr {
	margin-bottom: 0 !important;
}

.card-title {
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	text-align: left !important;
}

.emergency-link {
	margin-top: 100px;
}

.meme {
	margin-top: 200px;
}

.custom-img {
	width: 125px;
}

.custom-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.red-button {
  box-shadow: 0px 15px 0 20px #352d2d, 0px 40px 0 30px #000000;
  position: relative;
	cursor: pointer;
	background-color: #c0392b;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	width: $button-width;
	height: $button-height;
	transform: translateX(-50%);

	&:focus{
		outline: none;
	}
	
	
	&::before{
		content: '';
		z-index: 1;
		border-radius: 50%;
		background-color: #e74c3c;
		position: absolute;
		bottom: 100%;
		left: 0%;
		transition: bottom $press-time;
		width: $button-width;
		height: $button-height;
	}

	&::after{
		content: '';
		background-color: #c0392b;
		position: absolute;
		bottom: 50%;
		left: 0%;
		width: $button-width;
		height: $button-height;
		transition: height $press-time;
	}

	&:active{
		&::before{ bottom: 10%; }
		&::after{ height: 10%; }
	}

}
